node_modules
.keystone/
keystone.db
*.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

mongo-data
.env
postgres-data
coverage
.prettierignore
.prettierrc.json
.next
next-env.d.ts
schema.graphql
schema.prisma
# .vercel
