.icon-map {
  max-width: 896px;
  max-height: 597px;
  cursor: pointer;
}

.region-group:hover .region-path {
  fill: var(--gum-leaf);
  stroke: var(--dodger-blue);
}

.selected-region {
  fill: var(--gum-leaf);
  stroke: var(--dodger-blue);
}

@media (max-width: 480px) {
  .icon-map {
    display: none;
  }
}
