.iconMap {
  max-width: 896px;
  max-height: 597px;
  cursor: pointer;
}

.regionGroup:hover .regionPath {
  fill: var(--gum-leaf);
  stroke: var(--dodger-blue);
}

.selectedRegion {
  fill: var(--gum-leaf);
  stroke: var(--dodger-blue);
}

@media (max-width: 480px) {
  .iconMap {
    display: none;
  }
}
