.container {
  display: flex;
  gap: 60px;
  margin-bottom: 80px;
}

@media (max-width: 480px) {
  .container {
    display: block;
    margin-bottom: 60px;
  }
}

.wrapper-filter {
  position: relative;
  border: 1px solid var(--pattens-blue);
  border-radius: 6px;
  background-color: var(--white);
  min-width: 200px;
  padding: 20px;
}

.map-button-reset {
  position: absolute;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: var(--haiti);
  background-color: var(--white);
  width: 142px;
  height: 34px;
  cursor: pointer;
  top: 16px;
  right: 8px;
  border: none;
}

@media (max-width: 480px) {
  .wrapper-filter {
    max-width: 100%;
    padding: 15px;
  }

  .map-button-reset {
    top: 10px;
    right: 5px;
  }
}

.map-button-reset::after {
  content: '';
  position: absolute;
  left: 12px;
  bottom: 8px;
  width: calc(100% - 24px);
  height: 1px;
  background-color: var(--haiti);
}
