{% fragment pagetreeNavigation() %}
  <section class="mb-4 topnav">
    <div class="d-flex flex-wrap gap-5 justify-content-center me-auto ms-auto p-5 text-center">
      {% for page in data.home._children %}
        {% if page.visibility === 'public' %}
            <a href="{{ page._url }}" style="text-decoration: none" class="fs-3 text-dark">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endfragment %}

{% fragment globalNavigation() %}
  <section class="mb-4 topnav">
    <div class="d-flex flex-wrap gap-5 justify-content-center me-auto ms-auto p-5 text-center">
      {% for item in data.global.primaryNav %}
          {% set path = '' %}
          {% if item.type === 'page' and item._page and item._page[0] %}
            {% set path = item._page[0]._url %}
          {% elif item.type === 'custom' %}
            {% set path = item.customUrl %}
          {% endif %}
          <a href="{{ path }}" style="text-decoration: none" class="fs-3 text-dark"
            {% if item.target[0] === '_blank' %} target="_blank" {% endif %}
          >{{ item.label }}</a>
      {% endfor %}
    </div>
  </section>
{% endfragment %}