.wrapper {
  width: 100%;
  max-width: 240px;
  padding: 16px;
}

.regions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.region-list-title {
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.region-selector {
  position: relative;
  width: 240px;
  width: 100%;
}

.region-selector-btn {
  position: relative;
  height: 50px;
  margin: 12px 0 0 0;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--pattens-blue);
  transition: all 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.region-name {
  flex-grow: 1;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--haiti);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.num-of-initiatives {
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.region-selector-btn:after {
  content: '';
  height: 7px;
  width: 12px;
  background-image: url('/icons/arrow-down-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.region-selector-btn.open:after {
  transform: rotate(180deg);
}

.dropdown-arrow {
  font-size: 0.8em;
  color: var(--ebony);
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

.region-selector-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--very-light-grey);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
  display: none;
}

.region-selector-list.show {
  display: block;
}

.region-search-input {
  position: sticky;
  top: 0;
  height: 28px;
  width: calc(100% - 24px);
  padding: 12px;
  border: none;
  font-size: 14px;
  outline: none;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.region-search-input::placeholder {
  color: var(--forest-jade);
  opacity: 0.7;
}

.region-search-input:focus {
  border-bottom-color: var(--primary-color);
}

.region-selector-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  max-height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  border: 1px solid var(--pattens-blue);
  transition: background-color 0.2s ease-in-out;
  background-color: var(--white);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.region-selector-item:hover,
.region-selector-item:focus {
  background-color: var(--gum-leaf);
}

.region-selector-item.selected {
  background-color: var(--gum-leaf);
  font-weight: 500;
}

.region-selector-btn.open {
  border-radius: 4px 4px 0 0;
}

@media (max-width: 480px) {
  .wrapper {
    width: calc(100% - 32px);
    max-width: 100%;
  }

  .region-selector {
    width: 100%;
  }
}
