.container {
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
