.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--alice-blue);
  z-index: 4;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .content {
    height: 80px;
  }
}

.banner-container {
  width: 146px;
  height: 34px;
}

.banner-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .banner-link img {
    width: 100%;
    height: auto;
  }
}
