.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f8fafb;
  z-index: 4;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .content {
    height: 80px;
  }
}

.bannerContainer {
  width: 146px;
  height: 34px;
}

.bannerLink {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .bannerLink img {
    width: 100%;
    height: auto;
  }
}
